.intro {
    color: #ffffff;
    display: block;
    max-width:690px;
    margin: 0 auto 0 0;
    padding: 60px 0 64px 148px;
}

@media screen and (max-width:1024px) {
    .intro {
        padding: 70px 0 64px 48px;
    }
    
}

@media screen and (max-width:768px) {
    .intro {
        max-width:calc(100% - 24px*2);
        margin: 0 auto;
        padding: 68px 0 70px 0;
    }
    
}

@media screen and (max-width:320px) {
    .intro {
        max-width:calc(100% - 16px*2);
        margin: 0 auto;
        padding: 34px 0;
    }
    
}