.lead__caption {
    color: white;
    font-size: 10px;
    line-height: 1.4;
    text-transform: uppercase;
    letter-spacing: 1.48px;
    margin: 0;
    padding-top: 8px;
}

@media screen and (max-width:768px) {
    .lead__caption {
        padding-left: 24px;
    }  
}

@media screen and (max-width:768px) {
    .lead__caption {
        padding-left: 24px;
    }  
}

@media screen and (max-width:768px) {
    .lead__caption {
        padding-left: 16px;
    }  
}
