
.header {
    max-width: calc(100% - 48px*2);
    display: flex;
    margin: 0 auto;
    padding: 28px 0;
    align-items: center;
    justify-content: space-between;
}


@media screen and (max-width:1024px) {
    .header {
        max-width:calc(100% - 48px*2);
    }
    
}

@media screen and (max-width:768px) {
    .header {
        max-width:calc(100% - 24px*2);
        padding: 28px 0;
    }
    
}

@media screen and (max-width:320px) {
    .header {
        max-width:calc(100% - 16px*2);
        padding: 16px 0;
    }
    
}