.footer {
    display: flex;
    width: calc(100% - 48px*2);
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    min-height: max-content;
    padding: 64px 0 24px;
}

@media screen and (max-width:768px) {
    .footer {
        width: calc(100% - 24px*2);
        padding-top: 70px;
    }
    
}

@media screen and (max-width:750px) {
    .footer {
        width: calc(100% - 24px*2);
        flex-direction:column;
        flex-wrap: nowrap;
        align-items: center;
        padding-top: 18px;
    }
    
}

@media screen and (max-width:320px) {
    .footer {
        width: calc(100% - 16px*2);
        align-items: flex-start;
    }
    
}