.cover {
    padding: 24px 0;
    max-width: calc(100% - 48px*2);
    margin: 0 auto;
}

@media screen and (max-width:1024px) {
    .cover {
        max-width:100%;
        padding: 25px 0;
    }
    
}

@media screen and (max-width:768px) {
    .cover {
        padding: 20px 0;
    }
    
}