.cover {
    padding: 28px 0;
    width: calc(100% - 48px*2);
    margin: 0 auto;
}

@media screen and (max-width:1024px) {
    .cover {
        width:100%;
        padding: 20px 0;
    }
    
}

@media screen and (max-width:1024px) {
    .cover {
        padding: 45px 0;
    }
    
}