.cover__header {
    font-size: 72px;
    max-width: 560px;
    text-align: center;
    line-height: 1.1;
    font-weight: 900;
    color: #ffffff;
    margin:0;
    z-index: 2;
    padding-bottom: 28px;
}

@media screen and (max-width:600px) {
    .cover__header {
        font-size: 48px;
        padding-bottom: 16px;
    }
    
}

@media screen and (max-width:370px) {
    .cover__header {
        font-size: 32px;
        max-width: 288px;
        line-height: 1.09;

    }
    
}