.places {
    max-width:calc(100% - 148px*2);
    padding: 64px 0;
    margin: 0 auto;
}

@media screen and (max-width:1024px) {
    .places {
        max-width:calc(100% - 48px*2);
    }
    
}

@media screen and (max-width:768px) {
    .places {
        max-width:calc(100% - 24px*2);
        padding: 68px 0;
    }
    
}

@media screen and (max-width:320px) {
    .places {
        max-width: 100%;
        padding: 24px 0;
    }
    
}
