.photo-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-auto-rows: 1fr;
    column-gap: 16px;
    row-gap: 16px;
    row-gap: 16px;
    max-width: calc(100% - 48px*2);
    margin: auto;
    padding: 28px 0;
}

@media screen and (max-width:1024px) {
    .photo-grid {
        column-gap: 14px;
        row-gap: 14px;
        padding: 28px 0;
    }
    
}

@media screen and (max-width:768px) {
    .photo-grid {
        max-width: calc(100% - 24px*2);
        column-gap: 16px;
        row-gap: 16px;
        padding: 20px 0;
    }
    
}

@media screen and (max-width:320px) {
    .photo-grid {
        max-width:calc(100% - 16px*2);
        column-gap: 12px;
        row-gap: 12px;
        -ms-column-gap: 12px;
        -ms-row-gap: 12px;
        padding: 28px 0;
    }
    
}