.lead__title {
    font-size: 96px;
    font-weight: 900;
    line-height: 1.05;
    text-align: center;
    margin: 0 auto;
    padding-bottom: 32px;
}




@media screen and (max-width:700px) {
    .lead__title {
        font-size: 50px;
        line-height: 1.1;
        padding-bottom: 16px;
    }  
}

@media screen and (max-width:370px) {
    .lead__title {
        font-size: 40px;
    }  
}


@media screen and (max-width:320px) {
    .lead__title {
        font-size: 40px;
        line-height: 1.1;
        padding-bottom: 16px;
    }  
}